<div class="modal-header bg-primary text-white">
  <h4 class="modal-title pull-left">{{ basketItem.name }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body clearfix">
  <div class="row mb-3 ml-2">
    <div *ngFor='let option of options; let i = index' class="mr-2">
      <button class="btn" [ngClass]="{ 'btn-primary': isActiveOption[i], 'btn-info': !isActiveOption[i] }" style='width: 120px;'
        (click)="selectOption(option, i)">{{ option }}</button>
    </div>
  </div>
  <div class="row mb-3 ml-2" >
    <div *ngFor='let item of items; let i = index' class="mr-2 mt-2">
      <button class="btn btn-default" style='width: 120px;' (click)="selectOptionItem(item, i)" [tooltip]="itemPrice[i]">{{ item }}</button>
    </div>
  </div>
</div>
<div class='row ml-2' *ngIf='selectedOptions && selectedOptions.length > 0'>
  <div class="messageContainer" *ngFor='let option of selectedOptions; let i = index'>
    <button class="x" (click)="removeSelectedOptionItem(i)" title="click to remove">x</button>{{ option.option + ' ' + option.item  }} {{ option.price > 0 ? '($' + option.price + ')': '' }}
  </div>
</div>

<div class="modal-footer">
  <span>click one of the top row's choices, then click one of the items below to add an option.</span>
  <button class="btn btn-primary" title="Save Instructions" (click)="saveOptions()">Save</button>
  <button class="btn btn-default right" title="exit without saving" (click)="closeModal()">Cancel</button>
</div>