<div class="container mb-3 mt-3">
  <div class="card">
    <div class="card-header">
      <img src='assets/images/mekongsandwiches.PNG' style='height:40px'>
      <strong>Our Menu</strong>
    </div>
    <div class="card-body">
      <div style='float: left; width: 50%;'>
        <div *ngFor='let menuItem of menuItems1' class='mb-3'>
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <strong>{{ '#' + menuItem.id + ' - ' + menuItem.name }}</strong>
                </div>
                <div class="col-sm-2">
                  <strong>{{ '$' + menuItem.price }}</strong>
                </div>
              </div>
              {{ menuItem.description }}
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3 order">
                <input type='text' style="width: 1em" class="form-control" [(ngModel)]='menuItem.qty' />
                <div class="input-group-append" (click)='orderItem(menuItem)'>
                  <span class="input-group-text">Order</span>
                  <i class="fa fa-user-circle-o"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style='float: left; width: 50%'>
        <div *ngFor='let menuItem of menuItems2' class='mb-3'>
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <strong>{{ '#' + menuItem.id + ' - ' + menuItem.name }}</strong>
                </div>
                <div class="col-sm-2">
                  <strong>{{ '$' + menuItem.price }}</strong>
                </div>
              </div>
              {{ menuItem.description }}
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3 order">
                <input type='text' style="width: 1em" class="form-control" [(ngModel)]='menuItem.qty' />
                <div class="input-group-append" (click)='orderItem(menuItem)'>
                  <span class="input-group-text">Order</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>