<div class="container mb-3 mt-3">
  <div class="card">
    <div class="card-header">
      <img src='assets/images/mekongsandwiches.PNG' style='height:40px'>
      <strong>Our Menu</strong>
    </div>
    <div class="card-body">
      <div style='float: left; width: 50%;'>
        <div *ngFor='let menuItem of menuItems1' class='mb-3'>
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <strong>{{ '#' + menuItem.id + ' - ' + menuItem.name }}</strong>
                </div>
                <div class="col-sm-3">
                  <strong>{{ menuItem.price | number: '1.2-2' | currency:'USD' }}</strong>
                </div>
              </div>
              {{ menuItem.description }}
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3 order">
                <input type='number' class="form-control numberInput" [(ngModel)]='menuItem.qty' />
                <div (click)='orderItem(menuItem)' [ngClass]="{'orderButtonIcon': menuItem.qty > 0, 'orderButtonIconDisabled': menuItem.qty == 0 || menuItem.qty == null}">                  
                  <i class="fa fa-cart-plus fa-lg fa-pull-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div style='float: left; width: 50%'>
        <div *ngFor='let menuItem of menuItems2' class='mb-3'>
          <div class="row">
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <strong>{{ '#' + menuItem.id + ' - ' + menuItem.name }}</strong>
                </div>
                <div class="col-sm-3">
                  <strong>{{ menuItem.price | number: '1.2-2' | currency:'USD' }}</strong>
                </div>
              </div>
              {{ menuItem.description }}
            </div>
            <div class="col-sm-3">
              <div class="input-group mb-3 order">
                <input type='number' class="form-control numberInput" [(ngModel)]='menuItem.qty' />
                <div (click)='orderItem(menuItem)' [ngClass]="{'orderButtonIcon': menuItem.qty > 0, 'orderButtonIconDisabled': menuItem.qty == 0 || menuItem.qty == null}">                  
                  <i class="fa fa-cart-plus fa-lg fa-pull-right"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>