<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a routerLink="/home" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/main" class="nav-link">Menu</a>
    </li>
    <li class="nav-item">
      <a routerLink="/contact" class="nav-link">Contact</a>
    </li>
  </ul>
</nav>

<div class="container">
    <div style="float: right; padding: 10px; min-height: 45px;">
        <a routerLink="/cart" class="nav-link">
          <i *ngIf='cartItems.length > 0' class="fa fa-shopping-cart" > ({{ (cartItems$ | async).length}}) {{getTotalAmount() | async | currency:'USD' }} </i>
        </a>
      </div>
      <div style="clear: both"></div>
  <router-outlet></router-outlet>
</div>