/* You can add global styles to this file, and also import other style files */
body::after {
    content: "";
    background-image: url('assets/images/mekongsandwiches.png');
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 0.02;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  } 
  
  .messageContainer {
    width: 22%;
    border-radius: 5px;
    border: 1px solid Black;
    padding: 3px;
    margin: 3px;
    background: #A4D3EE;
    overflow: visible;
    position: relative;
    float: left;
  }
  
  .x {
      position: absolute;
      border: 0;
      background: #A4D3EE;
      color: red;
      top: 1px;
      right: 1px;
  }

  .modal.fade {
    display: flex !important;
    justify-content: center;
    align-items: center;
}
.modal-dialog {
    vertical-align:middle;
    height:18em;
    background-color: rgba(0,0,0,0.5); 
}
label
{
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.orderButtonIcon
{
    padding: 10px 10px 10px 5px;   
}
.orderButtonIconDisabled
{
    display: none;
}
.fa-border
{
    border-color: darkgray;
}

.numberInput
{
    text-align: right;
    width: 2em;
}

